<table id="single-trip-table" class="table table-bordered table-striped">
  <tr>
    <td><h3><%= @trip.name %></h3></td>
    <td rowspan="2"><%= @trip.description %></td>
  </tr>
  <tr>
    <td><%= @trip.start_date %> to <%= @trip.end_date %></td>
  </tr>
</table>

<div class="photos-info">
  <h3>Album:</h3>
  <div class="well">
    <%= link_to "Add Photo", new_user_trip_photo_path(@trip.user, @trip), { :remote => true, :class => "btn btn-primary", 'data-togle' => 'modal', 'data-target' => '#photo-modal'} %>
  </div>
  <div class="new-photo"></div>

  <div class="photo-index">
      <%= render @trip.photos %>  
  </div>
</div>

<div class="visited-places">
   <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<div id="photo-modal" class="modal fade" role="dialog" aria-hidden="true"></div>

<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>