<div class="text-field">
  <%= form.label :name, 'Name:' %>
  <%= form.text_field :name %>
</div>

<% if @user.persisted? %>
  <div class="avatar-field">
    <%= image_tag @user.avatar.url(:thumb) %>
    <%= form.label :avatar, 'Profile picture:' %>
    <%= form.file_field :avatar %>
  </div>

  <div class="text-field">
    <%= form.label :about, 'Tell us about you:' %>
    <%= form.text_area :about %>
  </div>

  <div class="text-field">
    <%= form.label :country, 'Country:' %>
    <%= form.text_field :country %>
  </div>

  <div class="text-field">
    <%= form.label :city, 'City:' %>
    <%= form.text_field :city %>
  </div>

  <div class="text-field">
    <%= form.label :birth_date, 'Birth Date:' %>
    <%= form.date_select :birth_date, start_year: Date.current.year, end_year: 1900, :include_blank => true, :default => nil %>
  </div>
<% end %>

<div class="text-field">
  <%= form.label :email, 'Email:' %>
  <%= form.text_field :email, type: 'email' %>
</div>

<div class="password-field">
  <%= form.label :password, 'Password:' %>
  <%= form.password_field :password %>
</div>