<div class="user-info">
  <%= image_tag @user.avatar.url(:thumb) %>
  <h2><%= @user.name %></h2>
  <br class="clearleft">
</div>
<div class="trip-info">
  <h4>Trips:</h4>
  <% if current_user.id == @user.id %>
    <div class="well">
      <%= link_to "Add trip", new_user_trip_path(current_user), { :remote => true, :class => "btn btn-primary", 'data-togle' => 'modal', 'data-target' => '#trip-modal'} %>
    </div>
  <% end %>
  <div class="new-trip"></div>

  
  <table id="trip-table" class="table table-bordered table-striped">
    <thead>
      <tr>
        <th colspan="4">Trips</th>
      </tr>
    </thead>
    <tbody class="trip-index">
      <%= render @user.trips %>  
    </tbody>
  </table>
  <% if !@user.has_trips? %>
    <% if current_user.id == @user.id %>
      <p>You don't have any trips yet.</p>
    <% else %>
      <p><%= @user.name %> doesn't have any trips yet.</p>
    <% end %>  
  <% end %>
</div>
<% if current_user.id == @user.id %>
  <div class="friends-info">
    <h4>Your Friends:</h4>
    <div class="well">
      <%= link_to "Add friends", users_path, class: "btn btn-primary" %>
    </div>

    <% if @user.has_friends? %>
      <table id="friends-table" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th colspan="3">Friends</th>
          </tr>
        </thead>
        <tbody>
          <% @user.friends.each do |user_friend| %>
            <tr>
              <td class="friend-avatar"><%= image_tag user_friend.friend.avatar.url(:thumb) %></td>
              <td class="friend-info"><%= link_to user_friend.friend.name, user_path(user_friend.friend) %></td>
              <td><%= link_to "Delete", user_friend.friendship, method: :delete, class: "btn btn-danger" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>You don't have any friends. Be more sociable man.</p>
    <% end %>
  <% end %>
</div>
<div id="trip-modal" class="modal fade" class="modal fade" role="dialog" aria-hidden="true"></div>