<%= form_for([photo.trip.user, photo.trip, photo], remote: true, html: { class: "form-horizontal", style: "display:inline;" }) do |f| %>
  <div class="modal-body">
    <ul class="errors"></ul>

    <div class="control-group">
      <%= image_tag @photo.image.url(:thumb) %>
      <%= f.label :image, 'Uploaded File:', class: "control-label" %>
      <div class="controls">
        <%= f.file_field :image %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :name, 'Name:', class: "control-label" %>
      <div class="controls">
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :latitude, 'Latitude:', class: "control-label" %>
      <div class="controls">
        <%= f.text_field :latitude %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :longitude, 'Longitude:', class: "control-label" %>
      <div class="controls">
        <%= f.text_field :longitude %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :taken_date, 'Taken:', class: "control-label" %>
      <div class="controls">
        <%= f.date_select :taken_date, start_year: Date.current.year, end_year: 1920, :include_blank => true %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :description, 'Tell us about it:', class: "control-label" %>
      <div class="controls">
        <%= f.text_area :description %>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <%= f.submit "Save", class: "btn btn-primary" %>
    <%= link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %>
  </div>
<% end %>