<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Traveler</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
  <link rel="stylesheet" href="/combo/1.18.13?/css/layouts/marketing.css">
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
    <div class="header">
      <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <%= link_to 'Traveler', root_path, :class => 'pure-menu-heading' %>

        <ul class="pure-menu-list">
          <% if signed_in? -%>
            <li class="pure-menu-item"><%= link_to_if(current_user.is_admin?, 'User List', users_path){} %></li>
            <li class="pure-menu-item"><%= link_to 'Edit profile', edit_user_path(current_user.id) %></li>
            <li class="pure-menu-item"><%= link_to t('.sign_out'), sign_out_path, method: :delete %></li>
          <% else -%>
            <li class="pure-menu-item"><%= link_to t('.sign_in'), sign_in_path %></li>
            <li class="pure-menu-item"><%= link_to t('.sign_up'), sign_up_path %></li>
          <% end -%>
        </ul>
      </div>
    </div>

    <div class="content-wrapper">
      <div id="flash">
        <% flash.each do |key, value| -%>
          <div id="flash_<%= key %>"><%=h value %></div>
        <% end %>
      </div>

      <%= yield %>
    </div>

  </div>
</body>
</html>
