<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Traveler</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top"> 
      <div class="container">
        <ul class="nav navbar-nav">
          <li><%= link_to 'Traveler', root_path, class: "navbar-brand" %></li>
          <% if signed_in? -%>
            <li><%= link_to_if(current_user.is_admin?, 'Users List', users_path){} %></li>
            <li><%= link_to 'Home', user_path(current_user) %></li>
            <li><%= link_to 'My Profile', edit_user_path(current_user) %></li>
            <li><%= link_to t('.sign_out'), sign_out_path, method: :delete %></li>
          <% else -%>
            <li><%= link_to t('.sign_in'), sign_in_path %></li>
            <li><%= link_to t('.sign_up'), sign_up_path %></li>
          <% end -%>
        </ul>
      </div>
    </nav>
    
    <div class="container">
      <div id="flash">
        <% flash.each do |key, value| -%>
          <div id="flash_<%= key %>"><%=h value %></div>
        <% end %>
      </div>

      <%= yield %>
    </div>
  </div>
</body>
</html>